<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gerenciamento</title>
</head>
<body>
    <h1>Bem-vindo ao Sistema de Gerenciamento de Funcionários</h1>
    
    <nav>
        <ul>
            <li><a th:href="@{/departamentos}">Gerenciar Departamentos</a></li>
            <li><a th:href="@{/funcionarios}">Gerenciar Funcionários</a></li>
        </ul>
    </nav>

</body>
</html>